h2 {
    color: rgb(249,168,40);
}

p {
    color: rgb(249,168,40);
    weight: 5;
          padding: 20px;
      border-radius: 12px;
}

hr {
      border-color: rgb(249,168,40);
    weight: 5;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */

  width: 20%px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(249,168,40); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 0px;
  padding-right:0px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(7,97,125);
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



body { 
  background-color: rgb(46,56,63);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');



@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







button {
  background-color: rgb(7,97,125);
  border: none;
  color: rgb(249,168,40);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #rgb(7,97,125);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
      color: rgb(249,168,40);
}

iframe {
      border-color: rgb(249,168,40);
      border-radius: 12px;
}

img {

}
 .img {
       display: flex;
  flex-direction: column;
  align-items: center;
 }

.item {
  order: 5; /* default is 0 */
}